The libiraries used are:
import ipywidgets as widgets
from IPython.display import display, Javascript
from IPython.display import Image
from google.colab import output
from google.colab.output import eval_js
from base64 import b64decode
import face_recognition
import cv2
import os
from google.colab.patches import cv2_imshow
import numpy as np
